.header {

    top: 0;
    width: 100%;
    z-index: 100;

    .header-block {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
        border-bottom: 1px solid #e5e5e5;
        left: 50%;
        transform: translateX(-50%);
        display: none;


        &.header-small {
            height: 70px;


            .logo img {
                height: 55px;
                transition: height .4s ease-in-out;
                object-fit: contain;
            }
        }

        .logo img {
            width: 175px;
            height: 95px;
        }

        .search {
            margin: 0 0rem 0px 15rem;
            width: 600px;

            fieldset {
                border-width: 0;
                margin: 0;
                padding: 0;
                display: flex;
                width: 498.455px;
                height: 43.194px;

                input {
                    font-size: 15px;
                    height: auto;
                    border: 2px solid #ddd;
                    border-right: 0;
                    width: 100%;
                    padding: 14px 11px;
                    border-right: 1px solid #ddd;
                    margin-right: 0.10rem;

                    &::placeholder {
                        color: rgba(black, 0.5);
                        font-weight: 600;

                    }
                }

            }
        }
    }

    .navMenuPages {
        .navMenuPages__list {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
        }
    }

    .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: none;
        font-size: 13px;

        .phone,
        .account,
        .shopping {
            padding: 1rem .25rem;
            font-weight: 400;
        }

        span:not(.shopping span) {
            color: #aaa;

        }

        .shopping {
            color: #468c15;
            text-transform: uppercase;
        }
    }

    .navMenuPages {
        .navMenuPages__list {
            .navMenuPages__parent {
                &.active {
                    display: block;
                    .navMenuPages__child {
                        display: flex;
                    }
                }

                &.hiddens {
                    .navMenuPages__child {
                        display: none;

                    }
                }
            }
        }
    }
}