.footer {
    width: 100%;

    .footer_help {
        display: flex;
        text-align: center;
        justify-content: center;
        column-gap: 7rem;
        background-color: #eee;
        padding: 1rem;

        &>car,
        phone,
        laugh {
            display: flex;

        }

        &>p {
            font-size: 16px;
            letter-spacing: -.01em;
            font-weight: bold;

            &>span {
                color: green;
            }
        }
    }

    .footer__container {
        background-color: #21642a;

        .footer__info {
            display: flex;
            display: flex;
            justify-content: center;
            column-gap: 6rem;
            padding: 4rem 0;

            .info {
                line-height: 2rem;

                &>h3 {
                    font-size: 15px;
                    color: #b1d398;

                }

                &>p {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    }
}